<!doctype html>
<html>
<head>
    <title>Preview</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <link key="font-import" rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap&family=Lobster" />
    <style>
        body {
          font-family: 'Inter', sans-serif;
        }
        body {
          margin: 0;
          padding: 0;
          display: flex;
          justify-content: center;
          align-items: center;
          height: 100vh;
          width: 100%;
        }
        .content {
          width: 100%;
          align-self: flex-start;
          height: 100%;
        }
    </style>
</head>
<body class="overflow-x-hidden overflow-y-auto">
    <div class="content"><div class="flex flex-col h-screen  font-[inter]  " >
        <h1 class="text-6xl m-5 text-violet-400 font-bold uppercase text-center" >Laplanc Logements</h1>
        <p class="text-center text-3xl font-[lobster] mb-4 " >Billet de reservation</p>
        <!-- information about reservation -->
        <div class="flex-1  p-6 border-t-4 border-t-gray-400 justify-between flex flex-col w-full" >
            <h1 class="text-3xl font-light  " >{{logementName}}</h1>
            <h1 class="text-2xl font-light  mt-2" >{{reservationDate}}</h1>
            <h1 class="text-2xl font-light mt-2" >{{startDate}}</h1>
            <h1 class="text-2xl font-light  mt-2" >{{endDate}}</h1>
            <h1 class="text-2xl font-medium  " >{{userName}}</h1>
        </div>
        <!-- Qrcode -->
        <div class="flex-1 flex p-6  border-t-4 border-t-gray-400 flex-col gap-2 bg-pink-100 w-full" >
            <h1 class="text-2xl font-medium  text-center " >N°{{reservationId}}</h1>
            <div class="h-48 w-48 self-center " >
                <img class="object-cover w-full h-full"  src="{{qrcode}}" />
            </div>
            <div class="self-center" >
                <p class="text-2xl text-center font-medium" >Scanez moi</p>
                <p class="text-2xl font-[lobster] text-center font font-medium" >www.laplanc.com</p>
            </div>
        </div>
    </div></div>
</body>
</html>